<div class="flex items-center justify-center h-screen bg-gradient-to-br from-yellow-400 to-blue-900">
    <div class="bg-white p-8 rounded-2xl shadow-lg w-96">
      <h2 class="text-center text-2xl font-semibold">Login</h2>
      <input class="w-full p-2 mt-4 border rounded" [(ngModel)]="email" placeholder="Email" type="email">
      <input class="w-full p-2 mt-2 border rounded" [(ngModel)]="password" placeholder="Senha" type="password">
      <p *ngIf="errorMessage" class="text-red-500 text-sm mt-2">{{ errorMessage }}</p>
      <button (click)="login()" class="w-full bg-blue-600 text-white p-2 mt-4 rounded">Entrar</button>
      <p class="text-center mt-4">
        <a routerLink="/register" class="text-blue-600">Criar Conta</a>
      </p>
    </div>
  </div>
  